!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="menu-title">Navigation</li>

                             <li>
                                <a href="calendar.html" class="waves-effect"><i class="mdi mdi-calendar"></i><span> Dashboard </span></a>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-dashboard"></i><span> My Tenants </span> </a>
                                <ul class="list-unstyled">
                                    <li><a href="dashboard_2.html"> All Tenants</a></li>
                                    <li><a href="dashboard_2.html"> Due Rents </a></li>
                                     <li><a href="dashboard_2.html">Tenants Report </a></li>
                                      <li><a href="dashboard_2.html"> Messages </a></li>
                                </ul>
                            </li>

                            <li class="menu-title">General</li>
                           
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-home-map-marker"></i><span> Properties </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="real-estate-dashboard.html"> Add </a></li>
                                    <li><a href="real-estate-list.html">View Property</a></li>
                                    <li><a href="real-estate-column.html"> For Buy</a></li>
                                    <li><a href="real-estate-detail.html">For Sale</a></li>
                                    <li><a href="real-estate-detail.html">For Rent</a></li>
                                     <li><a href="real-estate-detail.html">land</a></li>
                                </ul>
                            </li> 

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-email"></i><span> Messages </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="email-inbox.html"> Notifications</a></li>
                                    <li><a href="email-read.html"> Mails</a></li>
                                     <li><a href="email-inbox.html"> Direct Messages</a></li>
                                </ul>
                            </li>                           

                        </ul>
                    </div>
                   

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->
